/* Overall Classes */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #6a0dad;
}

.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}


/* Overall Classes End */


/* Navbar Classes */

.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .2s linear;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.navbar .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    font-size: x-large;
    font-weight: bold;
    color: #fff;
}

.navbar-title:hover {
    animation: jump 0.3s;
}

.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
    margin-right: 1px;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .2s linear;
}

.navbar-menu a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a:hover {
    color: #6a0dad !important;
    animation: jump 0.3s linear;
}

.sticky {
    background-color: #dedede;
    color: #000000;
    padding: 18px 0;
}

.sticky .navbar-title {
    color: #000000;
}

.sticky .navbar-menu {
    color: #000000;
}

.sticky .navbar-menu a {
    color: #000000;
}

.sticky .menu-toggler span {
    background-color: #000000;
}


/* Navbar Classes End */


/* General Section Classes */

section {
    padding: 100px 0;
    background-color: #fff;
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    color: #111;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #111;
    bottom: 0;
    left: calc(50% - 40px);
}

.section-title::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #6a0dad;
    border: 4px solid #fff;
    left: calc(50% - 12px);
    bottom: -7px;
}

section.dark {
    background-color: #353b48;
}

section.dark .section-title {
    color: #fff;
}

section.dark .section-title::before {
    background-color: #fff;
}

section.dark .section-title::after {
    border: 4px solid #353b48;
}


/* General Section Classes */


/* Home Section Classes */

#home {
    height: 100vh;
    min-height: 500px;
    background: url(/images/bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: scroll;
    image-rendering: optimizeSpeed;
}

#home .inner-width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#home .content {
    width: 100%;
    color: #ffffff;
}

#home .content h1 {
    font-size: 60px;
    margin-bottom: 60px;
    color: #fff;
}

#home .buttons {
    margin-top: 60px;
}

#home .buttons a {
    display: inline-block;
    margin: 15px 30px;
    color: #fff;
    background-color: #6a0dad;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid #6a0dad;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
}


/* Home Section Classes End */


/* About Section Classes */

.about-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
}

.about-text h3 {
    margin: 10px 0;
    color: #444;
    font-size: 16px;
    text-align: center;
}

.about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #444;
    display: inline-block;
    border-radius: 50%;
    margin: 0 14px;
}

.about-text p {
    font-size: 17px;
    line-height: 26px;
    margin-top: 20px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}


/* About Section Classes End */


/* Education Section Classes */

.time-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block {
    width: calc(50% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 30px;
    position: relative;
    border-radius: 6px;
}

.block::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 120%;
    background-color: #ddd;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.block::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #6a0dad;
    left: -28px;
    top: 30px;
    border-radius: 50%;
}

.block h3 {
    font-size: 16px;
    margin: 10px 0;
}

.block p {
    font-size: 15px;
    color: #444;
}


/* Education Section Classes End */


/* Skills Section Classes */

.technical-skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill {
    width: calc(50% - 20px);
    text-align: center;
    border: 1px solid #d3d3d3;
    background: #d3d3d3;
    border-radius: 6px;
    margin: 20px 0;
    padding: 40px 20px;
    color: #000;
    cursor: default;
    transition: .2s linear;
}

.skill .icon {
    color: #000;
    font-size: 40px;
    margin-bottom: 20px;
    transition: .2s linear;
}

.skill h4 {
    font-size: 16px;
    margin-bottom: 6px;
}

.skill:hover {
    background-color: #6a0dad;
    color: #fff;
    transform: scale(1.05);
}

.skill:hover .icon {
    color: #fff;
}

.skills-link {
    color: #000;
    text-decoration: #000 underline;
    font-weight: bolder;
    transition: .2s linear;
}

.skill:hover .skills-link {
    color: #fff;
    text-decoration: #fff underline;
    font-weight: bolder;
}


/* Skills Section Classes End */


/* Projects Section Classes */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 6px;
    transition: .2s linear;
}

.column img:hover {
    transform: scale(1.1);
}

.see-more {
    margin-top: 30px;
}

.see-more button {
    border: #6a0dad 2px solid;
    background: #6a0dad;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: .2s linear;
}

.see-more button:hover {
    animation: shake 0.7s linear;
}

.see-more p {
    color: #fff;
    font-size: 17px;
}

@media screen and (max-width: 1600px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.see-more {
    text-align: center;
    font-size: 15px;
    color: #fff;
    transition: .2s linear;
}

.see-more:hover {
    color: #6a0dad !important;
}


/* Projects Classes End */


/* Contact Section Classes */

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info .item {
    width: calc(50% - 20px);
    height: 160px;
    background-color: #353b48;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s linear;
}

.contact-info i {
    display: block;
    font-size: 40px;
    line-height: 120px;
    height: 100px;
}

.contact-info .item:hover {
    background-color: #6a0dad;
}


/* Contact Section Classes End */


/* Footer Classes */

footer {
    background: url(../images/bg.jpg) no-repeat center;
    color: #ffffff;
    padding: 80px 0;
    text-align: center;
}

.sm a {
    color: #ffffff;
    font-size: 22px;
    margin: 0 10px;
    transition: .2s linear;
}

.sm a:hover {
    color: #6a0dad;
}

.copyright {
    margin-bottom: 20px;
    font-size: 15px;
}

.copyright a {
    font-size: 16px;
    color: #6a0dad;
    font-weight: 500;
}


/* Footer Classes End */


/* Responsiveness Classes */

@media screen and (max-width: 980px) {
    .menu-toggler {
        display: block;
    }
    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #353b48;
        top: 0;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: .2s linear;
    }
    .navbar-menu a {
        display: block;
        font-size: 30px;
        margin: 30px 0;
    }
    .sticky .navbar-menu {
        background-color: #dedede;
        color: #000000;
    }
    .sticky .navbar-menu a {
        color: #000000;
    }
    .navbar-menu.active {
        right: 0;
    }
    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }
    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }
    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }
    .inner-width {
        max-width: 800px;
    }
    .about-text {
        flex: 100%;
        text-align: center;
    }
    .service {
        width: calc(50% - 20px);
    }
    .block {
        width: calc(100% - 20px);
        margin-left: auto;
    }
}

@media screen and (max-width: 600px) {
    .inner-width {
        padding: 0 20px;
    }
    .skill {
        width: 100%;
    }
}


/* Responsiveness Classes End */


/* Animations */

@keyframes jump {
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes shake {
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}